{% extends "backoffice/base/base.html.twig" %}

{% block body %}
<div class="content-wrapper" style="min-height: 1761.5px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                    <h1>
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Ajouter une nouvelle propriété</font>
                        </font>
                    </h1>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="container">
                <form method="POST" action="{{path("create")}}" class="form">
                    {{form_start(form)}}
                    <div class="row form-group">
                        <div class="col-8">
                            <div class="row mb-3">
                                {{form_row(form.titre)}}
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">{{form_row(form.surface)}}</div>
                                <div class="col-4">{{form_row(form.piece)}}</div>
                                <div class="col-4">{{form_row(form.etage)}}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-4">{{form_row(form.prix)}}</div>
                                <div class="col-4">{{form_row(form.chauffage)}}</div>
                                <div class="col-4">{{form_row(form.ville)}}</div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-6">{{form_row(form.adresse)}}</div>
                                <div class="col-4">{{form_row(form.codePostal)}}</div>
                                <div class="col-2">{{form_row(form.vendu)}}</div>
                            </div>
                            <div class="row mb-3">
                                <div>
                                    <button type="submit" class="btn btn-success">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            {{form_row(form.description)}}
                        </div>
                    </div>
                    {{form_end(form)}}
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}