{% extends "backoffice/base/base.html.twig" %}

{% block body %}
<div class="content-wrapper" style="min-height: 1761.5px;">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-solid">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h3 class="d-inline-block d-sm-none">{{propriete.titre}}</h3>
                            <div class="col-12">
                                <img src="../../dist/img/prod-1.jpg" class="product-image" alt="Product Image">
                            </div>
                            <div class="col-12 product-image-thumbs">
                                <div class="product-image-thumb active"><img src="../../dist/img/prod-1.jpg"
                                        alt="Product Image"></div>
                                <div class="product-image-thumb"><img src="../../dist/img/prod-2.jpg"
                                        alt="Product Image"></div>
                                <div class="product-image-thumb"><img src="../../dist/img/prod-3.jpg"
                                        alt="Product Image"></div>
                                <div class="product-image-thumb"><img src="../../dist/img/prod-4.jpg"
                                        alt="Product Image"></div>
                                <div class="product-image-thumb"><img src="../../dist/img/prod-5.jpg"
                                        alt="Product Image"></div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6">
                            <h3 class="my-3">{{propriete.titre}}</h3>
                            <p>{{propriete.description}}</p>

                            <hr>
                            <h4>Caractéristiques</h4>
                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-md-8">
                                        <table class="table table-striped">
                                            <tr>
                                                <td class="h1">Caracteristique</td>
                                                <td class="h1">Specificite</td>
                                            </tr>
                                            <tr>
                                                <td>Surface habitable</td>
                                                <td>{{propriete.surface}} m²</td>
                                            </tr>
                                            <tr>
                                                <td>Pièces</td>
                                                <td>{{propriete.piece}}</td>
                                            </tr>
                                            <tr>
                                                <td>Etage</td>
                                                <td>{{propriete.etage}}</td>
                                            </tr>
                                            <tr>
                                                <td>chauffage</td>
                                                <td>{{propriete.chauffage}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="bg-gray py-2 px-3 mt-4">
                                <h2 class="mb-0">
                                    {{propriete.prixFormatter}} Fcfa
                                </h2>
                            </div>
                            <a class="btn btn-danger btn-lg btn-flat mt-3" href="{{path('delete',{id:propriete.id})}}">
                                <i class="fas fa-trash fa-lg mr-2"></i>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        Supprimer cette propriété!
                                    </font>
                                </font>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}