<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{path('home')}}">Lorem ipsum</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if current is defined and current == 'home' %}active{% endif %}" href="{{path('home')}}">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if current is defined and current == 'propriete' %}active{% endif %}" href="{{path('propriete')}}">Acheter</a>
                </li>
                {% if app.user %}
                    {% if app.user.roles == ['ROLE_ADMIN'] %} 
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('admin')}}">ADMINISTRATION</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('logout')}}">Deconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('login')}}">Connexion</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>