{% extends "vitrine/base/base.html.twig" %}

{% block body %}
<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
    
            </div>
            <div class="col-md-4">
                <h1>{{propriete.titre}}</h1>
                <h2>{{propriete.piece}} pièces - {{propriete.surface}} m²</h2>
                <div class="text-primary" style="font-size: 4em;">{{propriete.prixFormatter}} Fcfa</div>
                <a href="#" class="btn btn-primary">Contacter</a>
            </div>
        </div>
        <p>
            {{propriete.description|nl2br}}
        </p>
    </div>
</div>
<div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <td class="h1">Caracteristique</td>
                        <td class="h1">Specificite</td>
                    </tr>
                    <tr>
                        <td>Surface habitable</td>
                        <td>{{propriete.surface}} m²</td>
                    </tr>
                    <tr>
                        <td>Pièces</td>
                        <td>{{propriete.piece}}</td>
                    </tr>
                    <tr>
                        <td>Etage</td>
                        <td>{{propriete.etage}}</td>
                    </tr>
                    <tr>
                        <td>chauffage</td>
                        <td>{{propriete.chauffage}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}