<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>

<body>

    {% block body %}
        <h4>de : {{contact.email}}</h4>
        <h2>Demande de renseignement pour le bien <a href="{{url('')}}">{{contact.propriete.titre}}</a></h1>
        <p>
            {{contact.message|nl2br}}
        </p>
        <h4>Ecrit par {{ contact.prenom }} {{contact.nom}}</h4>
    {% endblock %}

</body>

</html>